<div class="row">
  <div class="col s12 section">
    <h4>Dashboard</h4>
  </div>
</div>

<div class="row">
  <div class="col s12 section">
    <h5>Recent Games</h5>
  </div>
</div>

<div class="row recent-games-table">
  <%= render partial: "games/table", locals: { games: @recent_games } %>

  <% if @season.game_count > @recent_games.count %>
    <%= link_to "View all games", active_season_games_path %>
  <% end %>
</div>

<div class="row">
  <div class="col s12 section">
    <h5>Player Game Counts</h5>
  </div>
</div>

<div class="row">
  <table class="striped player-game-count-table">
    <thead>
      <tr>
        <th>Player</th>
        <th>Game count</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.game_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to new_game_path, class: "btn-floating btn-large waves-effect waves-light red dashboard__new-game-link" do %>
  <i class="material-icons">add</i>
<% end %>
