<div class="row">
  <div class="col s12 section">
    <h4>Log in</h4>
  </div>
</div>

<%= form_for :login do |f| %>
  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.text_field :email, autofocus: true  %>
      <%= f.label :email %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <%= f.submit "Log in", class: "waves-effect waves-light btn indigo darken-4" %>
    </div>
  </div>
<% end %>
