<div class="row">
  <div class="col s12 section">
    <h4>Record Game</h4>
  </div>
</div>

<%= form_for @game do |f| %>
  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.collection_select :winner_id, @users, :id, :name, prompt: true %>
      <%= f.label :winner_id, "Winner" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.collection_select :loser_id, @users, :id, :name, prompt: true %>
      <%= f.label :loser_id, "Loser" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 l6">
      <%= label_tag "game[price]", "Game price ($)" %>
      <%= number_field_tag "game[price]", nil, min: 0.5, step: 0.5 %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <%= f.submit "Submit", class: "waves-effect waves-light btn indigo darken-4" %>
    </div>
  </div>
<% end %>
