<!DOCTYPE html>
<html>
  <head>
    <title>Theledger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path "logos/nba-ledger__stamp--72-72.jpg" %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path "logos/nba-ledger__stamp--114-114.jpg" %>">
    <link rel="apple-touch-icon" href="<%= asset_path "logos/nba-ledger__stamp--57-57.jpg" %>">
    <link rel="apple-touch-startup-image" href="<%= asset_path "logos/nba-ledger__full.jpg" %>">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper blue-grey darken-4">
        <%= link_to "The Ledger", root_path, class: "brand-logo center" %>

        <ul class="right">
          <li>
            <i class="material-icons left">add</i>
            <%= link_to "Record game", new_game_path %>
          </li>
        </ul>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="flash-message indigo accent-2">
        <i class="material-icons left">check</i>

        <span class="flash--text"><%= flash[:notice] %></span>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash-message red lighten-2">
        <i class="material-icons left">close</i>

        <span class="flash--text"><%= flash[:alert] %></span>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
