<!DOCTYPE html>
<html>
  <head>
    <title>Theledger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash--wrapper-notice">
        <p class="flash--text"><%= flash[:notice] %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash--wrapper-alert">
        <p class="flash--text"><%= flash[:alert] %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
